@model Form.Models.Form
@{
	ViewBag.Title = "Dashboard";
}

<div class="d-flex justify-content-center align-items-center" style="height: 85vh;">
	<div>
		<h2 class="fw-bold text-center">Dashboard</h2>
		<h4 class="text-danger fw-bold">Welcome @Model.Name</h4>
	</div>
</div>

