@model Form.Models.Form
@{
	ViewBag.Title = "Home Page";
}

<div class="d-flex justify-content-center align-items-center" style="height: 85vh;">
	<h4 class="text-danger fw-bold">Home page</h4>
\
	

</div>